.red {
  color: rgb(200, 0, 10);
}

.black {
  color: black;
  font-size: 40px;
}


.ad {
  margin: 0px auto;
  text-align: center;
  width: 100%;
  max-width: 150dvh;
  border-radius: 50px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(242, 238, 226, 1);
  background-blend-mode: luminosity;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.ad h1 {
  font-size: 60px;
  color: rgb(87, 120, 5);
}



div .article {
  text-align: left;
  font-size: 20px;
  padding: 10px;
}



/*食安問題food-safety*/
.food-safety {
  /* padding-top: 100px; */
  margin: 100px auto;
  text-align: left;
  width: 100%;
  max-width: 150dvh;
  border-radius: 50px;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(242, 238, 226, 1);
  background-blend-mode: luminosity;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px 30px;
}

.food-safety img {
  width: 100%;
  max-width: 150dvh;
  border-radius: 20px;
}

.top-nav {
  display: flex;
  height: 75px;
  width: 100dvw;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  top: 0px;
  z-index: 5;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: rgba(128, 128, 128, 0.3);
  background-blend-mode: luminosity;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0px 30px;
}

.top-nav a {
  color: white;
  text-align: center;
  padding: 1dvh 2dvw;
  text-decoration: none;
  font-size: 14pt;
  font-weight: bold;
  border-radius: 20px;
  transition: 0.3s;
}

.top-nav a:hover {
  color: black;

  background: linear-gradient(0deg, rgba(208, 208, 208, 0.5), rgba(208, 208, 208, 0.5)),
    rgba(0, 0, 0, 0.1);
  background-blend-mode: color-burn,
    luminosity;

  box-shadow: inset 0px -0.5px 1px rgba(255, 255, 255, 0.3),
    inset 0px -0.5px 1px rgba(255, 255, 255, 0.25),
    inset 0px 1.5px 4px rgba(0, 0, 0, 0.08),
    inset 0px 1.5px 4px rgba(0, 0, 0, 0.1);
  border-radius: 50px;

  scale: 1.1;
  transition: 0.5s;
}

.top-nav a.active {
  background-color: #04AA6D;
  color: white;
}

body {
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.content {
  padding-top: 100px;
}

* {
  box-sizing: border-box;
}